@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+KR:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@900&family=Nunito:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #fff;
}
.blue_box{
    max-width: 80%;
    height: 105vh;
    position: relative;
    left: -1px;
    top: -66px;
    background-color: #162869;
    overflow: hidden;
}
.head_text{
    position: absolute;
    top: 221px;
    left: 103px;  
    width: 100%;  
}
.head_text .hb_txt{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 88px;
    color: #fff;
}
.head_text p{
    margin: 0;
}
.small_head_txt{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-top: 20px;
}
.head_btn{
    margin-top: 56px;
    Width:231px;
    Height: 64px;
    border: none;
    border-radius: 8px;
    padding: 16px, 40px, 16px, 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #444444;
    line-height: 32px;
    background: linear-gradient(to right, #E0F359 100%, #92E32B 67%);
}
.side_card{
    position: absolute;
    top: 23%;
    left: 60%;
    z-index: 100;
    width: 33%;
    height: 94vh;
    background-color: #fff;
    border-radius: 0 0 56px 0;
    box-sizing: border-box;
}
.card_img{
    padding: 17px;
}
.card_icon{
    margin: 31px 32px;
}
.card_title p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    margin: 0px 32px;
    color: #162869;
}
.card_sub{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin: 24px 32px;
}
.currency{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    list-style: 38px;
    color: #000000;
}


/* Estimate */

.e_title{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.e_title_txt{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #000000;
}
.direction_button{
    display: flex;
    flex-direction: row;
}
.left, .right{
    width: 48px;
    height: 48px;
    background-color: #E0F359;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 16px;
}
.e_card{
    padding-left: 16px;
}
.e_card_body{
    width: 100%;
    max-width: 400px;
    height: 660px;
    background-color:#FFFFFF;
    border-radius: 0 0 80px 0;
    margin-bottom: 32px;
}
.e_card_body img{
    padding: 16px;
}
.e_card_icon{
    width: 33px;
    height: 33px;
    margin-bottom: 10px;
    display: inline-block;
}
.e_card_title{
    margin-left: 60px;
    color: #000;
}
.e_card_name{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #162869;
    font-size: 32px;
    padding-left: 16px;
    margin-bottom: 24px;
}
.e_card_sub p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #000;
    font-size: 14px;
    padding-left: 16px; 
}
.e_currency{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.popular_creator_icons{
    margin-top: 40px;
}
.popular_icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.popular_icon p{
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
}
.popular_currency{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}
.p_c{
    display: flex;
    align-items: center;
}
.new_art_card{
    padding: 16px;
}
.new_art_more{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.new_art_more p{
    margin-right: 8px;
}
.art_card_title{
    margin-top: 56px;
    margin-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
}
.art_card_sub_title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}
.new_art_more p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #162869;
}
footer{
    height: 1056px;
    width: 100%;
    background-color: #162869;
    padding: 65px;
}
.bg_green{
    margin-bottom: 138px;
    width: 100%;
    height: 452px;
    background: radial-gradient(#E0F359  0%, rgba(224, 243, 89, 0.3)  100%);
    display: flex;
    justify-content: center;
}
.hr{
    position: absolute;
    width: 100%;
    left: 0;
    border-top: 2px solid #E0F359;
}
.footer_down{
    padding-top: 50px;
}
.footer_down p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #fff;
    padding: 0px 10px;
}
.footer_txt p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    padding-top: 30px;
}
.footer_k_txt{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
}
.footer_k_txt1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    padding: 10px;
}
.footer_copyright{
    position: absolute;
    bottom: -120px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}
.footer_up{
    width: 45%;
    max-width: 1232px;
    margin: auto;
}
.footer_up h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #000000;
    vertical-align: top;
    text-align: center;
}
.bg_green input{
    width: 513px;
    height: 56px;
    background-color: #fff;
    color: #fff;
    border: none;
    padding-left: 20px;
    border-radius: 8px;
    margin: auto;
}
.bg_green button{
    margin-left: 20px;
    width: 147px;
    height: 56px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #e0f359 100%, #E0F359 30%);
}
.footer_up p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    line-height: 26px;
    padding-top: 30px;
    text-align: center;
}

@media (max-width: 1120px) {
    .side_card{
        height: 80vh;
    }
    .blue_box{
        height: 93vh;
    }
    #hb_txt1, #hb_txt2{
        font-size: 48px;
        line-height: 68px;
    }
    .small_head_txt{
        font-size: 14px;
    }
}
@media (max-width: 895px) {
    .side_card{
        height: 60vh;
    }
    .blue_box{
        height: 80vh;
    }
    #hb_txt1, #hb_txt2{
        font-size: 38px;
        line-height: 58px;
    }
    .small_head_txt{
        font-size: 12px;
    }
    .head_text{
        top: 180px;
    }
}
@media (max-width: 780px) {
    .side_card{
        top: 55vh;
        left: 50%;
        height: 40vh;
    }
    .blue_box{
        height: 83vh;
    }
    #hb_txt1, #hb_txt2{
        font-size: 48px;
        line-height: 68px;
    }
    .small_head_txt{
        font-size: 14px;
    }
}
@media screen and (max-width: 1120px) {
    .footer_up h1{
        font-size: 32px;
    }
    .footer_up{
        width: 100%;
    }
    .bg_green input{
        width: 95%;       
    }
    .bg_green button{
        margin-left: 0;
        margin-top: 10px;
        margin-left: 28%;
    }
    footer{
        height: 200vh;       
        background-color: #162869;
    }
    .footer_k_txt, .footer_k_txt1{
        font-size: 14px;
    }
}
@media screen and (max-width: 530px) {
    .footer_up h1{
        font-size: 28px;
        line-height: 30px;
    }
    .bg_green input{
        width: 95%;
        height: 40px;       
    }
    .bg_green button{
        margin-left: 0;
        margin-top: 10px;
        margin-left: 0%;
        height: 40px;
    }
    .bg_green{
        height: 100vh;
    }
    footer{
        height: 300vh;       
        background-color: #162869;
    }
    .footer_k_txt, .footer_k_txt{
        font-size: 14px;
        color: rebeccapurple ;
    }
}

.bi{
    color: white;
    width: 30px;
    height: auto;
    float: right;
    display: none;
}
.close{
    color: white;
    height: auto;
    float: left;
    display: none;
}

